# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# 需要忽略的文件
.vscode/
build/
dist/
images/!/test.png
!/Clicker.build/
!/Clicker.onefile-build/
!/Clicker.dist/
!/Clicker-test/
/Clicker-test/3S2YPJEmxt.png
/Clicker-test/AXn6JAVo1T.png
/Clicker-test/C6Rgj2Z1fz.png
/Clicker-test/G9AEdJjc7Y.png
/Clicker-test/TaLOvRFXGt.png
/xxx.txt
/Clicker-test/封面.pptx
/Clicker-test/123/指令数据.xlsx
/Clicker-test/指令数据.xlsx
__pycache__/变量池窗口.cpython-312.pyc
__pycache__/导航窗口功能.cpython-312.pyc
__pycache__/功能类.cpython-312.pyc
__pycache__/截图模块.cpython-312.pyc
__pycache__/设置窗口.cpython-312.pyc
__pycache__/数据库操作.cpython-312.pyc
__pycache__/网页操作.cpython-312.pyc
__pycache__/选择窗体.cpython-312.pyc
__pycache__/资源文件夹窗口.cpython-312.pyc
__pycache__/icon.cpython-312.pyc
__pycache__/images_rc.cpython-312.pyc
__pycache__/main_work.cpython-312.pyc
窗体/__pycache__/参数窗口.cpython-312.pyc
窗体/__pycache__/导航窗口.cpython-312.pyc
窗体/__pycache__/about.cpython-312.pyc
窗体/__pycache__/branchwin.cpython-312.pyc
窗体/__pycache__/global_s.cpython-312.pyc
窗体/__pycache__/image_preview.cpython-312.pyc
窗体/__pycache__/mainwindow.cpython-312.pyc
窗体/__pycache__/setting.cpython-312.pyc
窗体/__pycache__/variablepool.cpython-312.pyc
