ddddocr==1.4.11
keyboard==0.13.5
mouse==0.7.1
openpyxl==3.1.2
pandas==2.0.3
PyAutoGUI==0.9.54
PyMsgBox==1.0.9
pyperclip==1.8.2
PyQt5==5.15.10
python-dateutil==2.8.2
pywinauto==0.6.8
requests==2.31.0
selenium==4.16.0
pyttsx4~=3.0.15
pygments~=2.17.2